<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="Coypu" version="2.14.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.35" targetFramework="net461" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net461" />
  <package id="SimplerSettings" version="1.0.14" targetFramework="net461" />
  <package id="WkHtmlToXSharp" version="1.2.30" targetFramework="net461" />
</packages>